.BannerContent {
    background-color: black;
    border-radius: 0 0 30px 30px;

    z-index: 10;
    width: 100%;
    height: 80px;
}

.BannerContent h1 {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Neucha', cursive;
    top: 0;

}

.BannerContent span {
    color: #ffd700;
}

.BannerContent h2 {
    bottom: 480px;
    left: 37%;
}









